.contact 
{
	background-color: #001955;
	color: #fff;
	padding: $xl-size $l-size;
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	&__left
	{
		flex: 1;
		align-self: flex-start;
		padding: 2rem 6rem;

		& > p
		{
			color: $gray-shadow;
			font-size: 2rem;
			padding-top: 2.5rem;
		}
	}

	&__form
	{
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		padding-left: 4rem;

		& > *
		{
			margin-top: 2rem;
		}
	}

	&__input-group
	{
		& > input
		{
			width: 100%;
			border: 1px solid $yellow-dark;
			background-color: #001955;
			padding: 1rem;
			color: $gray-shadow;
			font-family: 'Quicksand', sans-serif;

			&:focus
			{
				outline: none;
				background-color: #00123c;
			}

			&::placeholder
			{
				color: $yellow-light;
			}
		}
	}

	&__textarea
	{
		display: flex;
		flex-direction: column;

		& > label
		{
			font-size: 1.8rem;	
		}

		& > textarea
		{
			height: 10rem;
			margin-top: 1rem;
			border: 1px solid $yellow-dark;
			background-color: #001955;
			padding: 1rem;
			color: $gray-shadow;
			font-family: 'Quicksand', sans-serif;

			&:focus
			{
				outline: none;
				background-color: #00123c;
			}
		}
	}

	button[type="submit"]
	{
		align-self: center;
	}
}

@media only screen and (max-width: 665px)
{
	.contact
	{
		flex-direction: column;
		align-items: stretch;

		&__left
		{
			padding: 2rem 0;
		}

		&__form
		{
			padding-left: 0;
		}
	}
}