.footer 
{
	background-color: #000b27;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 3rem;

	& > *
	{
		-webkit-box-flex: 1;
		    -ms-flex: 1;
		        flex: 1;
		padding: 0 3rem;
		-webkit-box-align: stretch;
		    -ms-flex-align: stretch;
		        align-items: stretch;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;

		&:not(:first-child)
		{
			border-left: 1px solid $gray-dark;
		}
	}

	& a
	{
		color: #a2a2a2;
		font-size: $s-size;
		-webkit-transition: color .4s;
		transition: color .4s;

		&:hover
		{
			color: $gray-shadow;
		}
	}

	& ul
	{
		list-style: none;
		padding: 2rem 0;

		& > li
		{
			padding-top: 1.5rem;

			& > span
			{
				font-size: $s-size;
				color: #a2a2a2;
			}
		}
	}

	&__quick-links > div
	{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;

		& > *
		{
			-webkit-box-flex: 1;
			    -ms-flex: 1;
			        flex: 1;
		}
	}

	&__extras
	{
		-webkit-box-align: end;
		    -ms-flex-align: end;
		        align-items: flex-end;

		& > img
		{
			max-height: 4rem;
		}

		& > .footer__social
		{
			& img
			{
				opacity: .6;
				-webkit-transition: opacity .4s;
				transition: opacity .4s;

				&:hover
				{
					opacity: 1;
				}
			}

			& > ul
			{
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
			}

			& > ul > li
			{
				padding-left: 3rem;
			}
		}

		& > p
		{
			font-size: 1.2rem;
			color: #a2a2a2;
			text-align: right;
		}
	}
}

@media only screen and (max-width: 1022px)
{
	.footer
	{
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;

		& > *:last-child
		{
			-ms-flex-preferred-size: 100%;
			    flex-basis: 100%;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
			padding-top: 2rem;
			border-left: none;
		}
	}
}

@media only screen and (max-width: 700px)
{
	.footer
	{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;

		& > *
		{
			width: 100%;
			text-align: center;

			&:not(:first-child)
			{
				padding-top: 2rem;
				border: none;
			}
		}

		& ul
		{
			padding: 1rem 0;
		}

		& h5
		{
			text-decoration: underline;
		}
	}
}