.pricing {
	background-color: #00459e;
	background-image: url("../img/2777.png");
	background-repeat: no-repeat;
	background-position: bottom left;
	background-size: contain;
	position: relative;
	display: flex;
	justify-content: flex-end;
	padding: 3rem 0;

	&__content
	{
		color: #fff;
		display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    position: relative;
    z-index: 10;
		padding: 3rem;
	}

	&__title
	{
		color: #fff;
	}

	&__cards
	{
		display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
		width: 100%;
		padding: $m-size $s-size;
	}

	&__card
	{
		width: 27rem;
		display: flex;
		box-shadow: 0px 7px 10px $gray-dark;
		border-radius: 8px;
		flex-direction: column;
		align-items: center;
		padding: 3rem 0;
		transition: all .7s ease;
		color: $gray-dark;

		& > h3
		{
			display: flex;
			color: #fff;
		}

		&.main 
		{
			order: 2;
			background-image: linear-gradient(to bottom right, $red-light, $yellow-dark);
			background-size: 100% 14rem;
			background-repeat: no-repeat;
			background-color: #fff;
			position: relative;
			z-index: 2;
		}

		&:first-child
		{
			order: 1;
			background-image: linear-gradient(to bottom right, #a3bafc, #a93fb9);
			background-size: 100% 14rem;
			background-repeat: no-repeat;
			background-color: #fff;
			position: relative;
			z-index: 1;
			transform: translateX(4rem) scale(.8);

			&:hover
			{
				transform: translate(4rem) scale(1);
			}
		}

		&:nth-child(2)
		{
			order: 3;
			background-image: linear-gradient(to bottom right, #6699ff, #1cc88a);
			background-size: 100% 14rem;
			background-repeat: no-repeat;
			background-color: #fff;
			position: relative;
			z-index: 1;
			transform: translateX(-4rem) scale(.8);

			&:hover
			{
				transform: translate(-4rem) scale(1);
			}
		}

		&:first-child:hover,
		&:nth-child(2):hover
		{
			z-index: 2;

			& ~ .main
			{
				z-index: 1;
				transform: scale(.8);
			}
		}

		& > .price
		{
			font-size: $l-size;
			color: #fff;

			& > sup
			{
				opacity: .5;
				color: #fff;
			}
		}

		&-features
		{
			font-size: $s-size;
			list-style: none;

			& > li
			{
				padding: .5rem;

				&::before
				{
					content: '🗸';
					font-size: $s-size;
					color: greenyellow;
				}
			}
		}
	}
}

@media only screen and (max-width: 1100px)
{
	.pricing
	{
		&__content
		{
			width: 90%;
		}
	}
}

@media only screen and (max-width: 860px)
{
	.pricing
	{
		&__title
		{
			padding-top: 3rem;
		}

		&__content
		{
			width: 100%;
			padding: 0;
		}
	}
}

@media only screen and (max-width: 768px) 
{
	.shape--gray-block
	{
		display: none;
	}
}

@media only screen and (max-width: 700px) 
{
	.pricing
	{
		&__cards
		{
			flex-direction: column;
		}

		&__card
		{
			width: 80%;
			height: auto;
			align-items: flex-start;
			padding: 2rem 4rem;
			margin-top: $l-size;

			&:first-child,
			&:nth-child(2)
			{				
				z-index: 10;
				transform: none;

				&:hover
				{
					transform: none;

					& ~ .main
					{
						transform: none;
					}
				}
			}

			& > h3
			{
				font-size: $m-size;
				display: flex;
				flex-wrap: wrap;
			}

			& > a 
			{ 
				order: 1;
				margin-top: 1rem !important;
			}

			& > .price
			{ 
				order: 2; 
				position: absolute;
				top: 0;
				right: 2rem;
			}

			& > ul 
			{ 
				order: 3;
				display: flex;
				flex-wrap: wrap;

				& > li
				{
					width: 50%;
				}
			}

			& > .btn--green
			{
				font-size: 1.3rem !important;
				padding: .5rem 2rem !important;
				height: auto;
			}
		}
	}
}

@media only screen and (max-width: 537px)
{
	.pricing__card > h3
	{
		display: flex;
		flex-direction: column;
	}
}