.pricing {
	background-color: #00459e;
	background-image: url("../img/2777.png");
	background-repeat: no-repeat;
	background-position: bottom left;
	background-size: contain;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	padding: 3rem 0;

	&__content
	{
		color: #fff;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 70%;
    position: relative;
    z-index: 10;
		padding: 3rem;
	}

	&__title
	{
		color: #fff;
	}

	&__cards
	{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
		width: 100%;
		padding: $m-size $s-size;
	}

	&__card
	{
		width: 27rem;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-shadow: 0px 7px 10px $gray-dark;
		        box-shadow: 0px 7px 10px $gray-dark;
		border-radius: 8px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		padding: 3rem 0;
		-webkit-transition: all .7s ease;
		transition: all .7s ease;
		color: $gray-dark;

		& > h3
		{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			color: #fff;
		}

		&.main 
		{
			-webkit-box-ordinal-group: 3;
			    -ms-flex-order: 2;
			        order: 2;
			background-image: -webkit-gradient(linear, left top, right bottom, from($red-light), to($yellow-dark));
			background-image: linear-gradient(to bottom right, $red-light, $yellow-dark);
			background-size: 100% 14rem;
			background-repeat: no-repeat;
			background-color: #fff;
			position: relative;
			z-index: 2;
		}

		&:first-child
		{
			-webkit-box-ordinal-group: 2;
			    -ms-flex-order: 1;
			        order: 1;
			background-image: -webkit-gradient(linear, left top, right bottom, from(#a3bafc), to(#a93fb9));
			background-image: linear-gradient(to bottom right, #a3bafc, #a93fb9);
			background-size: 100% 14rem;
			background-repeat: no-repeat;
			background-color: #fff;
			position: relative;
			z-index: 1;
			-webkit-transform: translateX(4rem) scale(.8);
			        transform: translateX(4rem) scale(.8);

			&:hover
			{
				-webkit-transform: translate(4rem) scale(1);
				        transform: translate(4rem) scale(1);
			}
		}

		&:nth-child(2)
		{
			-webkit-box-ordinal-group: 4;
			    -ms-flex-order: 3;
			        order: 3;
			background-image: -webkit-gradient(linear, left top, right bottom, from(#6699ff), to(#1cc88a));
			background-image: linear-gradient(to bottom right, #6699ff, #1cc88a);
			background-size: 100% 14rem;
			background-repeat: no-repeat;
			background-color: #fff;
			position: relative;
			z-index: 1;
			-webkit-transform: translateX(-4rem) scale(.8);
			        transform: translateX(-4rem) scale(.8);

			&:hover
			{
				-webkit-transform: translate(-4rem) scale(1);
				        transform: translate(-4rem) scale(1);
			}
		}

		&:first-child:hover,
		&:nth-child(2):hover
		{
			z-index: 2;

			& ~ .main
			{
				z-index: 1;
				-webkit-transform: scale(.8);
				        transform: scale(.8);
			}
		}

		& > .price
		{
			font-size: $l-size;
			color: #fff;

			& > sup
			{
				opacity: .5;
				color: #fff;
			}
		}

		&-features
		{
			font-size: $s-size;
			list-style: none;

			& > li
			{
				padding: .5rem;

				&::before
				{
					content: '🗸';
					font-size: $s-size;
					color: greenyellow;
				}
			}
		}
	}
}

@media only screen and (max-width: 1100px)
{
	.pricing
	{
		&__content
		{
			width: 90%;
		}
	}
}

@media only screen and (max-width: 860px)
{
	.pricing
	{
		&__title
		{
			padding-top: 3rem;
		}

		&__content
		{
			width: 100%;
			padding: 0;
		}
	}
}

@media only screen and (max-width: 768px) 
{
	.shape--gray-block
	{
		display: none;
	}
}

@media only screen and (max-width: 700px) 
{
	.pricing
	{
		&__cards
		{
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
		}

		&__card
		{
			width: 80%;
			height: auto;
			-webkit-box-align: start;
			    -ms-flex-align: start;
			        align-items: flex-start;
			padding: 2rem 4rem;
			margin-top: $l-size;
			background-size: 100% 11rem !important;
			

			&:first-child,
			&:nth-child(2)
			{				
				z-index: 10;
				-webkit-transform: none;
				        transform: none;

				&:hover
				{
					-webkit-transform: none;
					        transform: none;

					& ~ .main
					{
						-webkit-transform: none;
						        transform: none;
					}
				}
			}

			& > h3
			{
				font-size: $m-size;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-wrap: wrap;
				    flex-wrap: wrap;
			}

			& > a 
			{ 
				-webkit-box-ordinal-group: 2; 
				    -ms-flex-order: 1; 
				        order: 1;
				margin-top: 1rem !important;
			}

			& > .price
			{ 
				-webkit-box-ordinal-group: 3; 
				    -ms-flex-order: 2; 
				        order: 2; 
				position: absolute;
				top: 0;
				right: 2rem;
			}

			& > ul 
			{ 
				-webkit-box-ordinal-group: 4; 
				    -ms-flex-order: 3; 
				        order: 3;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-wrap: wrap;
				    flex-wrap: wrap;

				& > li
				{
					width: 50%;
				}
			}

			& > .btn--green
			{
				font-size: 1.3rem !important;
				padding: .5rem 2rem !important;
				height: auto;
			}
		}
	}
}

@media only screen and (max-width: 537px)
{
	.pricing__card > h3
	{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
}