.services {
	padding: 0 3rem 3rem 3rem;
	display: flex;
	flex-direction: column;

	&__main-title {
		align-self: center;
		text-align: center;
		font-size: $m-size;
		line-height: 1.5;
		width: 90%;

		p {
			margin-top: $l-size;
		}
	}

	&__services-cards {
		display: flex;
		margin: 0 auto;
		margin-top: $xl-size;
	}

	&__card {
		text-align: center;
		padding: 2rem;

		&-img {
			max-width: 6rem;
		}

		&-title {
			color: $heading-color;
			font-size: 2.2rem;
			margin-top: $s-size;
		}

		&-content {
			color: $gray-dark;
			font-family: $f-body;
			font-size: $m-size;
			margin-top: $s-size;
			line-height: 1.5;
		}

		&:not(:last-child) {
			border-right: 2px solid $gray-light;
		}
	}
}