.shape
{
  &--square
  {
    width: 7rem;
    height: 7rem;
    background-color: #e74a3b;
    position: absolute;
    top: 4rem;
    left: 10rem;
    opacity: .3;
    z-index: 8;

    &-2
    {
      width: 8rem;
      height: 8rem;
      background-color: #f6c23e;
      position: absolute;
      top: 7rem;
      right: 5rem;
      opacity: .4;
      z-index: 8;
      transform: rotate(30deg);
    }

    &-3
    {
      width: 4rem;
      height: 4rem;
      background-color: $red-light;
      position: absolute;
      top: 4rem;
      left: 25%;
      opacity: .4;
      z-index: 8;
    }
  }

  &--circle
  {
    width: 10rem;
    height: 10rem;
    background-color: #4e73df;
    border-radius: 50%;
    position: absolute;
    right: 7rem;
    top: 19rem;
    z-index: 8;
    opacity: .3;
  }

  &--circle-2
  {
    width: 11rem;
    height: 11rem;
    background-color: #e74a3b;
    border-radius: 50%;
    position: absolute;
    left: 1rem;
    top: 7rem;
    z-index: 8;
    opacity: .6;
  }

  &--triangle
  {
    width: 0;
    height: 0;
    border-left: 3rem solid transparent;
    border-right: 3rem solid transparent;
    border-bottom: 6rem solid #1cc88a;
    position: absolute;
    top: 28rem;
    left: 2rem;
    transform: rotate(-14deg);
    z-index: 8;
    opacity: .3;

    &-2
    {
      width: 0;
      height: 0;
      border-left: 5rem solid transparent;
      border-right: 5rem solid transparent;
      border-top: 10rem solid #36b9cc;
      transform: rotate(40deg);
      position: absolute;
      top: 82%;
      right: 2%;
      z-index: 8;
      opacity: .3;
    }

    &-3
    {
      width: 0;
      height: 0;
      border-left: 3rem solid transparent;
      border-right: 3rem solid transparent;
      border-bottom: 6rem solid #1cc88a;
      position: absolute;
      top: 28rem;
      right: 2rem;
      transform: rotate(-14deg);
      z-index: 8;
      opacity: .3;
    }
  }

  &--diamond
  {
    width: 0;
    height: 0;
    border: 5rem solid transparent;
    border-bottom: 7rem solid #f6c23e;
    position: absolute;
    top: 45rem;
    left: 3rem;
    z-index: 8;
    opacity: .6;

    &::after
    {
      content: '';
      position: absolute;
      left: -5rem;
      top: 7rem;
      width: 0;
      height: 0;
      border: 5rem solid transparent;
      border-top: 7rem solid #f6c23e;
    }
  }

  &--cross
  {
    position: absolute;
    top: 50%;
    left: 35%;
    background: #858796;
    height: 6.5rem;
    width: 1.5rem;
    z-index: 8;
    opacity: .3;
    transform: rotate(45deg);

    &::after
    {
      background: #858796;
      content: "";
      height: 1.5rem;
      left: -2.5rem;
      position: absolute;
      top: 2.5rem;
      width: 6.5rem;
    }

    &-2
    {
      position: absolute;
      top: 25rem;
      left: 4rem;
      background: $blue-light;
      height: 6.5rem;
      width: 1.5rem;
      z-index: 8;
      opacity: .4;
      transform: rotate(45deg);

      &::after
      {
        background: $blue-light;
        content: "";
        height: 1.5rem;
        left: -2.5rem;
        position: absolute;
        top: 2.5rem;
        width: 6.5rem;
      }
    }
  }

  &--gray-block
  {
    width: 67rem;
    height: 12.8rem;
    background-color: #dfdfe1;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 8;
  }
}