html 
{
	font-size: 62.5%;
}

* 
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body 
{
	font-family: $font;
	color: $gray-dark;
	background-color: #fff;
}

a:link,
a:visited 
{
	text-decoration: none;
}

h1 
{
	font-size: $xl-size;
	line-height: 1.15;
}

h2 
{
	font-size: $l-size;
}

h3 
{
	font-size: 1.8rem;
}

h4 
{
	font-size: $m-size;
}