.header {
	height: 110vh;
	position: relative;
	overflow: hidden;

	&__shape--yellow {
		background-color: $logo-yellow-dark;
		width: 30rem;
		height: 3rem;
		position: absolute;
		top: 20rem;
		left: -16rem;
		z-index: -1;
		transform: rotate(-55deg);
		animation: fallingYellow .8s;
		animation-delay: .2s;
	}

	&__shape--blue {
		background-color: $logo-blue-dark;
		width: 15rem;
		height: 3.8rem;
		position: absolute;
		top: 3rem;
		right: 15rem;
		z-index: -1;
		transform: rotate(102deg);
		animation: fallingBlue .8s;
		animation-delay: .3s;
	}

	&__shape--red {
		background-color: $logo-red-dark;
		width: 30rem;
		height: 3rem;
		position: absolute;
		bottom: 7rem;
		left: 20%;
		z-index: -1;
		transform: rotate(-25deg);
		animation: fallingRed 1.2s;
	}

	&__shape--green {
		background-color: #63b55a;
		width: 10rem;
		height: 4.5rem;
		position: absolute;
		top: 9rem;
		left: 35%;
		z-index: -1;
		transform: rotate(40deg);
		animation: fallingGreen .8s;
	}

	&__container {
		display: flex;
		position: relative;
		z-index: 2;
		width: 112%;
		height: 100%;
	}

	&__title {
		position: relative;
		width: 50%;
		padding: calc(#{$xl-size} * 3) 0 0 $xl-size;

		p {
			font-size: $m-size;
			line-height: 1.5;
		}
	}

	&__img {
		width: 65%;
		position: relative;
		z-index: 2;
		align-self: center;
		margin-top: 7rem;

		& img {
			max-width: 100%;
		}		
	}
}