.navbar {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: $m-size $m-size $m-size $xl-size;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;

	&__brand {
		display: flex;
		justify-content: space-between;
		width: 19rem;
		padding: 1rem;

		&--img {
			max-height: $l-size;
			margin-top: 2px;
			animation: fadeInBottom .8s;
			animation-delay: .2s;
		}

		&--text {
			font-size: 2.8rem;
			font-weight: bold;
			animation: fadeInBottom .8s;
			color: #000;
			padding-left: 1rem;
		}
	}

	&__menu {
		list-style: none;

		& li {
			display: inline-block;
			padding: 1rem $m-size;
		}
	}
}