.plans {
	padding: 8rem 4rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: relative;

	&__shape--red {
		background-color: #f14747;
		width: 30rem;
		height: 5rem;
		position: absolute;
		top: 12rem;
		left: -12rem;
		z-index: -1;
		transform: rotate(-50deg);
	}

	&__shape--green {
		background-color: #63b55a;
		width: 10rem;
		height: 3.5rem;
		position: absolute;
		top: 70%;
		right: 50%;
		z-index: -1;
		transform: rotate(62deg);
	}

	&__description {
		flex: 1 0 50%;
		color: $heading-color;
		text-align: center;
		align-self: flex-start;

		& p {
			padding-top: $m-size;
			font-size: $m-size;
			line-height: 1.5;
		}
	}

	&__cards {
		padding: 0 2.5rem;
		flex: 1 0 50%;
		align-self: flex-start;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		position: relative;
	}

	&__card {
	  perspective: 150rem;
	  -moz-perspective: 150rem;
	  position: relative;
	  height: 12rem;
	  width: 100%;
	  margin-top: $m-size;

	  &__side {
	    height: 12rem;
	    width: 100%;
	    padding: 2rem;
	    transition: all .8s ease;
	    position: absolute;
	    overflow: hidden;
	    top: 0;
	    left: 0;
	    backface-visibility: hidden;
	    border-radius: 4px;
	    display: flex;
	    align-content: center;
	    align-items: flex-start;

	    &--front {
	      background-color: #fff;

	      &-1 {
					border: 1px solid $logo-red-dark;
	      }

	      &-2 {
	      	border: 1px solid $logo-blue-dark;
	      }

	      &-3 {
	      	border: 1px solid $logo-yellow-dark;
	      }
	    }

	    &--back {
	      transform: rotateX(180deg);
	      display: flex;
	      justify-content: center;
	      align-content: center;
	      align-items: center;

	      &-1 {
	      	background-color: $logo-red-dark;
	      }

	      &-2 {
	      	background-color: $logo-blue-dark;
	      }

	      &-3 {
	      	background-color: $logo-yellow-dark;
	      }
	    }
	  }

	  &-icon {
    	flex: 0 1 auto;
    	opacity: .5;
    	align-self: center;
    }

    &-content {
    	flex: 0 1 70%;
    	padding-left: $m-size;

    	& ul {
    		list-style-type: none;
    		font-size: $s-size;
    		padding-top: $s-size;
    		line-height: 1.5;
    	}
    }

    &-arrow {
    	flex: 0 1 10%;
    	text-align: right;
    	font-size: $xl-size;
    }

    &-pricetag {
    	font-size: $xl-size;
    	font-weight: 300;
    	color: #fff;
    	padding: $m-size;
    }

	  &:hover &__side--front {
	    transform: rotateX(-180deg);
	  }

	  &:hover &__side--back {
	    transform: rotateX(0);
	  }
	}
}