//Fonts
$font: 'Quicksand', sans-serif;

//Colors
$yellow-light: #fcd9a9;
$yellow-dark: #ffbd42;
$blue-light: #a3e9e5;
$blue-dark: #3972c5;
$red-light: #fe8f8d;
$red-dark: #f14747;
$green: #63b55a;
$gray-light: #f2f2f2;
$gray-shadow: #ddd;
$gray-dark: #555;

//Sizing
$s-size: 1.4rem;
$m-size: 2.6rem;
$l-size: 4rem;
$xl-size: 5.4rem;

//Utilities
.mt-2 { margin-top: 2rem; }
.mt-4 { margin-top: 4rem; }
.mb-2 { margin-bottom: 2rem; }
.mb-4 { margin-bottom: 4rem; }

//Buttons
.btn, .btn:link, .btn:active, .btn:visited
{
	color: $gray-dark;
	text-decoration: none;
}

//Navbar buttons
a.nav--blue,
a.nav--yellow,
a.nav--red,
a.nav--green
{
	border-bottom: .4rem solid transparent;
}

a.nav--blue:hover 
{ 
	color: $blue-dark;
	border-bottom: .4rem solid currentColor; 
}
a.nav--yellow:hover 
{ 
	color: $yellow-dark;
	border-bottom: .4rem solid currentColor; 
}
a.nav--red:hover 
{ 
	color: $red-dark;
	border-bottom: .4rem solid currentColor; 
}
a.nav--green:hover 
{ 
	color: $green;
	border-bottom: .4rem solid currentColor; 
}

.btn--blue
{
	background-color: #3498DB;
	border-bottom: .5rem solid #2980B9;
	position: relative;
	padding: 1rem 3rem;
	border-radius: 10px;
	color: #fff !important;
	height: 4.5rem;
	margin-top: .5rem;
	
	&:hover
	{
		background-color: #56a5da;
	}

	&:active
	{
		transform: translate(0 , .3rem);
		-webkit-transform: translate(0, .3rem);
		border-bottom: 1px solid;
	}
}
/*
.btn {
	display: inline-block;

	&--black {
		color: #fff;
		padding: $s-size $l-size;
		font-size: $m-size;
		font-weight: 700;
		letter-spacing: 1px;
		border-radius: 100px;
		background-color: #000;
		box-shadow: 0px 7px 10px $heading-color;
		transition: all .3s;
		cursor: pointer;

		&:hover {
			transform: translateY(-3px);
			background-color: lighten(#000, 10%);
		}

		&:active {
			transform: translateY(0);
		}
	}

	&--white {
		padding: $s-size $l-size;
		font-size: $s-size;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		font-weight: 700;
		cursor: pointer;
		border-radius: 100px;
		background-color: #fff;
		transition: all .3s;
		border: none;

		&:hover {
			transform: translateY(-3px);
			box-shadow: 0px 7px 10px $heading-color;
		}

		&:active {
			transform: translateY(0);
			box-shadow: none;
		}

		&--red { color: $red-dark; }
		&--blue { color: $logo-blue-dark; }
		&--yellow { color: $logo-yellow-dark; }
	}

	&--link-dashed {
		font-size: $m-size;
		color: #000;
		font-weight: bold;
		border-bottom: 2px solid currentColor;
		padding: .8rem 0;
		transition: all .4s;

		&:hover {
			color: lighten(#000, 40%);
		}
	}

	&--link {
		color: #000;
		font-size: $m-size;
		font-weight: bold;
	}
}
*/